* {
    margin: 0;
    padding: 0;
}


/* =======================
   common css start
======================== */
.container {
    width: 1290px;
    margin: 0 auto;

}

.box {
    display: flex;
   
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* =======================
   common css end
======================== */
/* =======================
   Navber css start
======================== */
nav {
    background: #FAE3B6;
    padding: 47px 0px;
}
nav .box{
    align-items: center;
   
}

.logo-part {
    width: 22%;

}

.menu-part {
    width: 50%;

}

.menu-part ul {
    display: flex;
    column-gap: 59px;
    cursor: pointer;


}

.menu-part ul li {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", sans-serif;

}


.button-part {
    width: 28%;
    text-align: right;

}

.button-part a {
    background: #FDBB57;
    padding: 10px 15px;
    font-size: 24px;
    font-weight: 600;
    color: #050505;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid transparent;
    transition: .4s;

}

.button-part a:first-child {
    margin-right: 5px;
}

.button-part a:hover {
    background: #FAE3B6;
    border-color: rgba(0, 0, 0, 0.10);
    box-shadow: 1px 8px 9px -4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 8px 9px -4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 8px 9px -4px rgba(0, 0, 0, 0.15);

}

/* =======================
   Navber css end
======================== */
/* =======================
   Banner css start
======================== */
.banner{
    background: #FAE3B6;
    padding-top: 117px;
    padding-bottom: 102px;
}

.banner-content{
    width: 50%;
    
}
.banner-image{
    width: 50%;
    
}
.banner h1{
    font-size: 64px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", sans-serif;
    width: 538px;
}
.banner p{
    font-size: 22px;
    font-weight: 400;
    color: black;
    font-family: "Poppins", sans-serif;
    padding-top: 38px;
    padding-bottom: 76px;
     width: 531px;
}
.banner a{
    background: #000;
    color: white;
    padding:25px 91px;
    display: inline-block;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
     border: 1px solid transparent;
     transition: .4s;
}
.banner a:hover{
      background: transparent;
      border-color: black;
      color: black;
     

}
/* =======================
   Banner css end
======================== */
/* =======================
   collection css start
======================== */
.collection{
    margin-top: 217px;
    margin-bottom: 188px;
}
.collection h2{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    color: #000;
    font-family: "Frank Ruhl Libre", serif;



}
.collection .box{
    justify-content: space-between;
    padding-top: 108px;
   
    
}

.collection .item{
    width: 349px;
    height: 402px;
    position: relative;
    overflow: hidden;
    
}
.collection .item img{
    width: 100%;
    height: 100%;
}
.collection .overly{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 100%;
    left: 0%;
    border-radius: 20px;
    transition: .4s;
   
}
.collection .item:hover .overly{
    top: 0;
    

}
.collection .item .overly a {
    background: white;
    padding: 9px 108px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 283px;
    left: 16px;
}


 
/* =======================
   collection css end
======================== */